version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_PATH=./data.db
      - JWT_SECRET=your-super-secret-jwt-key
      - ENCRYPTION_KEY=your-super-secret-encryption-key
    volumes:
      - ./backend/data.db:/root/data.db  # Для сохранения данных SQLite
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - REACT_APP_API_URL=http://localhost:8080

volumes:
  sqlite_data:

networks:
  app-network:
    driver: bridge